<footer>
  <div class="content-media">
    <ul>
      <li><a href="https://www.linkedin.com/in/andrew-404"><i class="fab fa-linkedin fa-2x"></i></a></li>
      <li><a href="https://github.com/Ande404"><i class="fab fa-github fa-2x"></i></a></li>
      <li><a href="https://www.instagram.com/ande404"><i class="fab fa-instagram fa-2x"></i></a></li>
      <li><a href="https://www.snapchat.com/add/ande.404"><i class="fab fa-snapchat-ghost fa-2x"></i></a></li>
      <li><a href="Contact"><i class="fas fa-envelope fa-2x"></i></a></li>
    </ul>
  </div>
  <div class="attributions"><p>Copyright &copy; <span id="year"></span> Andrew Luwaga. All rights reserved | Design by Hawyaar.</p></div>
</footer>
