<nav data-aos="fade-down" data-aos-duration="800" data-aos-easing="ease-out-back">
  <div class="name-nav"><a href="/">Andrew+</a></div>
    <ul class="list">
      <li><a href="/">Home</a></li>
      <li><a href="About">About</a></li>
      <li><a href="Contact">Contact</a></li>
  </ul>
  <div class="menu"><i class="material-icons md-36">menu</i></div>
</nav>
